input{
    padding: 5px;
}

body{
    transition: all 0.3s ease-in-out;
}

a {
    cursor: pointer;
}

img {
    cursor: pointer;
}

@media (max-width: 600px) {
    .title-template1 {
        width: 97% !important;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .title-template1 {
        width: 99% !important;
    }
}

.custom-container.template {
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

/* deixar igual os dois lados dos containers t2 */
.main-body .container:last-child {
    padding-top: 15px;
}

@media screen and (max-width: 1000px) {
    .dropdown-templates, .dropdown-content{
        position: absolute;
        top: 10%;
        width: 80%;
        margin-left: 5px;
    }
    .template-data .title {
        margin-left: 0px;
    }

    /* Ajusta o title do experiencias no template 2 */
    .container .template-data .title {
        width: 93% !important;
    }

    /* Ajusta o title do Resumo t2  */
    .container .template2-resumo-titulo .title {
        width: 93% !important;
        margin-left: 0px !important;
    }

    .main {
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        padding: 0;
    }

    #template {
        width: 100% !important;
        min-width: unset !important;
        padding: 0;
        margin: 0;
    }

    .template {
        width: 100% !important;
        min-width: unset !important;
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 0 !important;
    }

    .custom-container.template {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .main-left, .right {
        display: none;
    }

    .footer {
        position: fixed;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 40px;
        background-color: #FFF;
        z-index: 11;
    }
}

@media (min-width: 1000px) {

    .container .template2-resumo-titulo .title {
        margin-left: 10px !important;
    }
}

@media screen and (max-width: 400px) {
    .dropdown-templates, .dropdown-content{
        display: block;
        height: 400px;
        width: 250px;
        justify-content: center;
    }
    .select-template{
        display: block !important;
        justify-content: center;
        width: 90%;
    }
    .select-template button{
        margin-top: 5px;
        width: 200px;
    }

    /* .container tem um padding que fica estranho no mobile, isso corrige */
    .contact-template2 {
        margin-left: -10px !important;
    }

    .template {
        width: 100vw !important;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 1001px) {
    .template-data {
        min-height: 100px;
        border-radius: 5px;
    }

    .dropdown-templates {
        justify-content: space-around;
        width: 350px;
        margin-left: 15px;
    }
}

.dropdown-templates {
    display: none;
    padding: 15px;
    border-style: solid;
    border-color: black;
    background-color: rgba(245, 245, 245, 0.514);
    margin-top: 30px;
    position: absolute;
}

.side-colors{
    display: none;
    padding: 15px;
    width: 300px;
    border-style: solid;
    border-color: black;
    background-color: rgba(245, 245, 245, 0.514);
    margin-left: 15px;
    margin-top: -15px;
}

.contact-template2 .title{
    width: 90%;
    align-self: center;
    align-items: start;
    text-align: start !important;
    margin: 0px;
    border-bottom: 1px solid gray;
}
.contact-template2{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.social-template2 {
    width: 90%;
    align-items: start;
    text-align: start !important;
    padding: 0px;
    margin-top: 15px;
    border-bottom: 1px solid gray;
}
.social-itens-template2{
    display: block;
    width: 80%;
    margin-left: 25px;
}

.social-item-template2{
    display: flex;
    padding: 10px;
    min-height: 40px;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.social-item-template2 img {
    top: 5px;
    position: relative;
}

.email-text{
    /* word-break: break-all !important; */
    word-break: break-all;
}

/* global itens  */
.remove-bnt{
    float: right;
    margin-top: -10px;
    display: none;
}

.remove-bnt-delete{
    position: relative;
    display: none;
    float: right;
    margin-top: 3px;
    margin-right: 20px;
}
.social-item-template2:hover .remove-bnt-delete{
    width: 25px;
    position: absolute;
    right: 40px;
    top: 2px;
    display: flex;
    background-color: #d7d7d7;
}

.social-item-template2:hover .remove-bnt.editar{
    width: 20px;
    position: absolute;
    display: flex;
    right: 10px;
    top: 17px;
}

.social-item-template2:hover .remove-bnt{
    display: none;
}
.editar-animado{
    width: 20px;
    position: relative;
    float: right;
    display: none;
    margin-left: 10px;
}
h3:hover .editar-animado{
    display: block;
    width: 20px;
}
.editar-contact{
    width: 20px;
    float: right;
}
.editar-contact-animado{
    width:20px;
    float: right;
    display: none;
    right: -20px;
    position: relative;
}
.title:hover .editar-contact-animado{
    display: block;
}
.experiences-template2-title .title{
    align-items: start;
    text-align: start !important;
    margin: 0px;
    border-bottom: 1px solid gray;
    font-weight: bolder;
    margin-top: 20px;
}
@media print {
    /* O shadow do navbar ficava aparecendo, isso resolveu */
    .container-fluid {
        display: none !important;
    }

    .not-visible {
        display: none !important;
    }
    .template-data{
        min-height: 100px;
    }

    .editar-contact-animado{
        display: none;
    }
    .editar-contact{
        display: none;
    }
    .editar{
        display: none !important;
    }
    .editar-animado{
        display: none !important;
    }

    #headericon{
        display: none;
    }

    .social-item-template1 span {
        word-break: break-all;
        max-width: 190px;
    }

    .social-item-template1 a {
        word-break: break-all;
        max-width: 190px;
    }

    .modal-login-template {
        display: none !important;
    }
}

.social-item-template2 span{
    word-break: break-all;
    padding-top: 20px;
}

.social-itens-template2{
    margin-left: 1% !important;
}

.social-item-template1{
    margin-bottom: 10px;
    height: 100%;
    display: flex;
    padding: 5px;
}

.social-item-template1:hover {
    background-color: #d7d7d7;
    border-radius: 10px;
}

.social-item-template1:hover .remove-bnt{
    display: block;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    float: right;
}

.social-row span{
    margin-bottom: 5px;
    position: relative;
}

.social-item-template1 a {
    padding-top: 10px;
}

.social-item-template1 img{
    width: 24px !important;
    height: 24px !important;
}

.data-container{
    position: relative;
    /* word-wrap: break-word; */
    word-wrap: normal;
    word-break: auto-phrase !important;
}

.contact-template2 .data-container {
    width: 96%;
}

/* .data-container:hover {
    background-color: #d7d7d7;
    border-radius: 10px;
} */

.template1-experiencias-container{
    padding: 10px;
    break-inside: avoid;
}

.template1-experiencias-container:hover {
    background-color: #d7d7d7;
    border-radius: 10px;
    padding: 10px;
}

.editar:active{
    transform: scale(.9);
}

button:active {
    transform: scale(0.9);
}

button {
    font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 1000px) {

    button:first-child {
        margin-top: 50px;
    }

    .contact-template2 {
        width: 97% !important;
    }

    .data-container {
        text-align: start !important;
        align-items: start !important;
        width: 97%;
    }
}

@media screen and (min-width: 1001px){
    button:not(.close-btn):not(.closeDiv) {
        min-width: 150px;
    }
}

.template2-experiencias-container:hover {
    background-color: #d7d7d7;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.template2-experiencias-container .remove-bnt
{
    position: absolute;
    margin-left: 24%;
    margin-top: -10px;
    display: none;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}


.template2-experiencias-container:hover .remove-bnt
{
    display: block;
    width: 30px;
}

.template1-formacao-container span {
    margin-top: 15px;
    text-align: start;
    margin-left: 10px;
}

.phone-enabled {
    position: absolute;
    right: 5px;
}

.phone-disabled {
    display: none;
    position: absolute;
    right: 5px;
}

@media print {
    .phone-enabled {
        display: none !important;
    }

    .phone-disabled {
        display: none !important;
    }

    #enable {
        display: none;
    }

    #disabled {
        display: none;
    }
}

.balao {
    margin-top: -230px;
    background: whitesmoke;
    border-radius: 15px;
    margin-left: -15%;
    position: absolute;
    padding: 10px;
}

.balao:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1a1a1a;
    bottom: -20px;
    left: 20%;
}

#input-token {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
    font-size: 16px;
}

.globalModal button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 10px;
}
/* Medidas que ainda não eram cobertas  */
@media (max-width: 1900px) and (min-width: 1000px) {
    .right {
        display: none;
    }

    /* The left cant be none cause it wont show when menu its clicked
    so we hide it */
    .main-left {
        width: 0px !important;
        height: 0pc !important;
        background: transparent !important;
    }

    .multiMenu-options.multi-menu-class {
        position: absolute !important;
        width: 70vw !important;
        left: 10% !important;
        top: 15% !important;
        background-color: rgba(255, 255, 255, 0.914) !important;
    }

    /* Sobreescreve the default behavior */
    .multiMenu-options.multi-menu-class:hover {
        background-color: white !important;
        transform: perspective(0px) rotateY(0deg);
    }

    /* Container central quando  a janela estiver entre 1000 e 1300
    assim não quebra a janela pois o default é width 70% */
    .custom-container{
        width: 100%;
        justify-content: start;
        height: 100% !important;
        padding-bottom: 50px;
        display: flex;
        margin-top: 20px;
    }

    .ajsut-img {
        margin-left: 10%;
    }
    
    .navbar {
        width: 100% !important;
    }
    .navbar-login {
        position: relative !important;
        height: 90px !important;
        padding: 0 !important;
        margin-top: 0 !important;
        margin-left: 10px !important;
        /* top: -15px !important; */
        min-width: 250px !important;
        justify-content: center !important;
        display: flex !important;
    }
}
/* fim */


@media (max-width: 1000px) and (min-width: 660px) {
    .balao {
        margin-top: -230px !important;
        left: 35% !important;
    }

    .navbar {
        width: 100% !important;
    }
    
    .navbar-login {
        padding: 0% !important;   
        background-color: transparent !important; 
        position: absolute !important;
        top: 120px;
    }

    .midle-options {
        && button {
            height: 60px;
            margin-top: 0px;
        }
    }

    .bnt-languages {
        width: 20px !important;
    }
}

/* stilo no t1 o titulo estava fincando pro inicio */

.template1-formacao-title.title {
    text-align: center !important;
}

@media (max-width: 660px) {
    .balao {
        margin-top: -230px !important;
        left: 20% !important;
    }
}

/*
    Overrides the default css to fix issue tha was making
    the title out of phone screen bounds
*/
@media (max-width: 1000px) {
    .contact-template2 .title {
        width: 93% !important;
    }
    .social-template2 {
        width: 95% !important;
    }
}



/* CSS com o comportamento de impressão */
.print {
    display: block !important;
}

.print .social-template2 {
    width: 95% !important;
}

.print .template {
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0px !important;
    margin: 0px !important;
}

.print .template {
    margin-top: 10px;
    border: none;
    background-color: white;
}
.print .footer {
    display: none;
}
.print .plus-icon
{
    display: none;
}

.print .template {
    border: none;
}

/* Definir o comportamento para a borda da div */
.print #template {
border: none !important;
height: 100% !important;
top: 0 !important;
}

.print #templat * {
    border: none !important;
}

.print .template * {
    border: none !important;
}

.print .main-open-close {
    display: none;
}

.print #enabled {
    display: none;
}

.print .editar {
    display: none;
}

.print .icon-show-title {
    display: none;
}

.print .remove-bnt {
    display: none;
}

#template {
    display: contents;
}

.print .side {
    height: 110% !important;
}

.print .template-data {
    background: none;
}

.print .custom-container.template {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Garante que os elementos internos cresçam juntos */
    height: 100% !important;
}

.print .img-delete {
    display: none;
}

.print .template2-remove-bnt {
    display: none;
}

.print .editar-animado-habilidade {
    display: none;
}

.print .icon-show-titleicon-show-title {
    display: none;
}

.print .main-open-close.ajust-img-open-close {
    display: none;
}

.print .icon-show-title {
    display: none;
}

.print #headericon {
    display: none;
}

/* Tempalte 1 fix pdf share issues */

/* .print .side {
    width: 30% !important;
    font-size: 7px;
} */

#loading {
    position: absolute; /* Position relative to the #app element */
    top: 80%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's own size */
    z-index: 9999; /* High z-index to stay on top */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional shadow for better visibility */
    display: none; /* Hidden by default */
}

.print .pic {
    object-fit: cover;
    width: 182px;
    height: 180px;
}


.print .img-pic {
    object-fit: cover;
    width: 185px;
    height: 180px;
}

.print .footer {
    display: none;
}

/* Estilos para o botão de login */
.navbar-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 20px; /* Afasta do topo */
}

.navbar-login button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto !important; /* Sobrescreve o width 100% em media queries */
  margin: 0 !important; /* Remove margins indesejadas */
}

.navbar-login button:hover {
  background-color: #2980b9;
}

.navbar-login button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

/* Ajuste específico para telas médias */
@media (max-width: 1000px) and (min-width: 660px) {
  .navbar-login {
    margin-top: 20px !important; /* Sobrescreve o margin-top anterior */
    padding: 10px !important;
    background-color: transparent;
  }
}

/* Ajustes para o summary */
.summary {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.summary p {
  margin: 0;
  white-space: pre-wrap; /* Preserva quebras de linha e espaços */
  line-height: 1.5;
  text-align: justify;
}

/* Ajuste para o container pai */
.template-data {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Ajuste para telas menores */
@media screen and (max-width: 768px) {
  .summary {
    padding: 5px;
  }
  
  .summary p {
    font-size: 0.9em;
  }
  
  .template-data {
    padding: 10px;
  }

  .multimenu-line {
    display: none;
  }
}

/* Ajuste para centralização do template */
.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-left {
  width: 25%;
}

#template {
  width: 55%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 1000px;
}

.template {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.right {
  width: 25%;
}

/* Ajustes específicos apenas para template2 */
.template2-container {
  padding: 0 !important;
  overflow: hidden;
}

.template2-container .row {
  margin: 0 !important;
  width: 100% !important;
}

.template2-container .resumo,
.template2-container .competencias,
.template2-container .contato,
.template2-container .social {
  padding: 10px 0;
  width: 100%;
}

/* Ajuste para zoom out */
@media screen and (min-width: 1001px) {
  .main {
    padding: 0 20px;
  }

  #template {
    flex: 0 0 auto;
  }
}

/* Ajuste para telas muito grandes */
@media screen and (min-width: 2000px) {
  .main {
    max-width: 2400px;
    margin: 0 auto;
  }
}

/* Remove os estilos específicos de template */
.template {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Remove os media queries adicionados */
@media screen and (min-width: 1001px) {
  .template {
    margin: 0 auto;
    max-width: 1200px;
  }
  .main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
  .main-left {
    width: 25%;
    height: 100vh;
    padding: 1px;
    margin-right: 5px;
  }
  .right {
    width: 25%;
    margin: 0 auto;
  }
}
@media print {
    body {
      margin: 0;
      padding: 0;
    }
    .print {
      width: 100%;
      height: 100%;
      page-break-inside: avoid; /* Evita quebras de página dentro do conteúdo */
    }
    h1, h2, h3 {
      page-break-after: avoid; /* Evita quebras de página após títulos */
    }
    p {
      page-break-inside: avoid; /* Evita quebras de página dentro de parágrafos */
    }

    .navbar-login {
        display: none;

        && button {
            display: none !important;
        }
    }
}
